body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

#main-heading {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#todo-container {
    background-color: #333;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

#input-todo {
    flex-grow: 2;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
}

#input-date {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
}

#getTasksBtn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ff9800;
    color: #fff;
    transition: background-color 0.3s ease;
}

#getTasksBtn:hover {
    background-color: #fb8c00;
}

table {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #444;
}

th {
    background-color: #444;
}

td {
    background-color: #555;
}

.deleteBtn, .finishedBtn {
    background: none;
    border: none;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.deleteBtn {
    background-color: #e53935;
}

.deleteBtn:hover {
    background-color: #d32f2f;
}

.finishedBtn {
    background-color: #43A047;
}

.finishedBtn:hover {
    background-color: #388E3C;
}

#task-list tr:last-child td {
    border-bottom: none; /* Remove border from last row */
}
